.Hours {
	background-image: linear-gradient(magenta, darkmagenta);
}

.Bright {
    color: white;
    font-weight: bold;
}

.Underlined {
    text-decoration: underline;
}

.Larger {
    font-size: larger;
}
