.EmployeeList {
	padding-top: 20px;
    overflow: auto;
    height: 90%;
}

.EmployeeList > table {
    margin: auto;
}

.EmployeeList > table, .EmployeeList th, .EmployeeList td {
    border: 1px solid green;
}

.EmployeeList img {
    width: 100px;
    vertical-align: middle;
}